<nav id="main-nav-bar" class="navbar">
  <ul class="nav" data-hook>
    <li id="home-link" class="nav-item" data-hook>
      <%= link_to Spree.t(:home), spree.root_path, class: 'nav-link' %>
    </li>
  </ul>
  <ul class="nav navbar-right" data-hook>
    <li id="link-to-cart" class="nav-item" data-hook>
      <noscript>
        <%= link_to_cart %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>

    <% if supported_currencies.multiple? %>
      <li id="currency-select" data-hook>
        <%= form_tag set_currency_path(format: :html), class: 'navbar-form' do %>
          <div class="form-group">
            <label for="currency" class="sr-only"><%= Spree.t(:currency) %></label>
            <%= select_tag(:currency, options_for_select(supported_currencies, current_currency), class: 'form-control', data: { href: set_currency_path(format: :json) }) %>
            <noscript><%= submit_tag %></noscript>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
